body {
  width: 960px;
  margin: 0 auto;
}

rect {
  stroke: rgba(204, 204, 204, 0.2);
  shape-rendering: crispEdges;
}

.edit:hover {
  stroke: steelblue;
  cursor: pointer;
}

select {
  width: 80px;
}

button {
  min-width: 50px;
  padding: 0 40px;
}
